*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    align-items: center;
    background-color: rgb(41, 241, 41);
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    min-height: 8vh;
    position: relative;
}

.logo{
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
   color: yellow;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 2;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.mainTitle{
}


.jumbotron{
    background-image: url(assets/images/fruits&vegetables.jpg);
    background-size: 100% 100%;
    background-position: center;
    border: 1px solid rgb(194, 190, 190);
    height:60vh;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 85%;
}

.heading-primary{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary--main{
    color: white;
    display: block;
    font-size: 2.0rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.heading-primary--sub{
    display: block;
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
}


@media screen and (max-width:1080px) {
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    }

}

@media screen and (max-width:900px) {
.burger{
    display: block;
}

.jumbotron{
    margin-top: 2rem;
}

.logo{
    z-index: 2;
}

.nav-links{
    align-items: center;
    background-color: rgb(41, 241, 41);
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 2rem;
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in;
    width: 100%;
    z-index: 1;
}

.nav-links li{
    opacity: 0;
}

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
}

@media screen and (max-width:350px) {
.heading-primary--main{
    font-size: large;
}

.heading-primary--sub{
    font-size: small;
}
}

@media screen and (max-width:200px) {
    .heading-primary--main{
        font-size: small;
    }
    .heading-primary--sub{
        font-size: 0.5rem;
    }
}

