/* Navbar & Jubotron */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
    background-image: url("assets/images/BackgroundImage.jpg");
  }

nav{
    align-items: center;
    background-color: rgb(41, 241, 41);
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    min-height: 8vh;
    position: relative;
}

.logo{
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
   color: yellow;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 2;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

/* .mainTitle{
} */


.jumbotron{
    background-image: linear-gradient(to right, rgba(69, 194, 11, 0.4), rgba(130, 238, 8, 0.84)), url(assets/images/fruits&vegetables.jpg);
    background-color: yellow;
    background-size: cover;
    background-position: top;
    border: 1px solid rgb(194, 190, 190);
    height:50vh;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 85%;
}

.heading-primary{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary--main{
    color: white;
    display: block;
    font-size: 2.0rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.heading-primary--sub{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
    text-align: center;
    color: white;
    text-shadow: black 2px 2px;
}

/* Contact Page Css */
.boxContainer{
    background-color: beige;
    border-radius: 2px;
    box-shadow: gray 1.5px 1.5px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bolder;
    height: 55%;
    padding-bottom: 5%;
    padding-top: 7%;
    position: relative;
    text-align: center;
    transform: translateY(3%) translateX(9%);
    width: 85%;
}

.box{
    background: burlywood;
    cursor: pointer;
    display: inline-block;
    font-style: far fa-envelope;
    height: 140px;
    margin: 10px;
    position: relative;
    width: 220px;
}

.box i{
    background: darkslateblue;
    font-size: 30px;
    left: 0;
    line-height: 140px;
    position: absolute;
    height: 100%;
    top: 10;
    width: 100%;
    z-index: 1;
    transition: transform 0.6s ease-in;
}

.box span{
    bottom: 0;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

.box:hover i{
    transform: translateY(-40px);
}


/* Media Queries */
@media screen and (max-width:1080px) {

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    }

}

@media screen and (max-width:900px) {
.box{
    margin-left: 25%;
    margin-right: 25%;
}

.boxContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-bottom: 20%;
    margin-left: 15%;
    padding-top: 4%;
    width: 60%;
}

.burger{
    display: block;
}

.jumbotron{
    margin-top: 2rem;
}

.logo{
    z-index: 2;
}

.nav-links{
    align-items: center;
    background-color: rgb(41, 241, 41);
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 2rem;
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in;
    width: 100%;
    z-index: 1;
}

.nav-links li{
    opacity: 0;
}

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
}

@media screen and (max-width:450px) {
.box{
    width: 20vh;
    height: 20vh;
    margin-top: 5vh;
}

.box i{
    /* font-size: 15px; */
    line-height: 170px;
}

.box span{
  font-size: 12px;
  padding-bottom: 0.5rem;
}

.box:hover i{
    transform: translateY(-28px);
}

.heading-primary--main{
    font-size: 1.5rem;
}

.heading-primary--sub{
    font-size: 0.7rem;
}
}

@media screen and (max-width:350px) {
.heading-primary--main{
    font-size: 1.5rem;
}

.heading-primary--sub{
    font-size: x-small;
}
}

@media screen and (max-width:290px) {
.box{
    position: relative;
    width: 60%;
    height: 10vh
    
}

.box i{
    /* font-size: 15px; */
    line-height: 5rem;
}

.box span{
    font-size: 10px;
    padding-bottom: 0.5rem;
}
  
}

@media screen and (max-width:200px) {
.heading-primary--main{
    font-size: small;
}
.heading-primary--sub{
    font-size: 0.5rem;
}
}


@media screen and (max-height:655px) {
.box i{
    font-size: 30px;
    line-height: 140px;
}

.boxContainer{
    /* height: 60%; */
    padding-top: 5%;
}

.heading-primary--main{
    font-size: 1.5rem;
}

.heading-primary--sub{
    font-size: 0.8rem;
    padding-top: 0.5rem;
}
}

@media screen and (max-height:400px) {
.box{
    height: 5rem;
}

.boxContainer{
    padding-top: 2%;
    padding-bottom: 2%;
}

.box i{
    line-height: 80px;
}
}

@media screen and (max-height:360px) {

.heading-primary--main{
    font-size: 0.8rem;
}

.heading-primary--sub{
    font-size: 0.5rem;
}
}

@media screen and (max-height:200px) {

.box{
    height: 2rem;
}

.boxContainer{
    padding-top: 1%;
}

.box i{
    font-size: 15px;
    line-height: 40px;
}

.box:hover i{
    transform: translateY(-30px);
}

.heading-primary--main{
    font-size: 0.6rem;
}

.heading-primary--sub{
    font-size: 0.4rem;
}
}
